

.projektmarktplatz-headline {
	font-size: 12pt;
	font-weight: bold;
	color: DF013A;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.projektmarktplatz-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.projektmarktplatz-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.projektmarktplatz-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.projektmarktplatz-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.projektmarktplatz-button {
	font-size: 100%;
	font-weight: bold;
}
	
.projektmarktplatz-logout{
	position: absolute;
	top: 10px;
	right: 10px;
	
}

.IdentityPanel {
    position: absolute;
    right: 0px;
	float: right;
	border: 1px solid black;
	background-color: #DF013A;
	border-radius: 10px;
}

div#TopLevelFrame {
	max-width: 1280px;
	min-width: 1200px;
 }
 

#Navigator{
	
	line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:250px;
    float:left;
    padding:5px;
    border-left: dotted silver;
}


#Details{
	width:auto;
    height:auto;
    float:left;
    padding:10px;
    border-rigth: dotted silver;
}


#Trailer {
	background-color:#b30000;
	border-bottom: dotted silver;
	border-left: dotted silver;
	border-right: dotted silver;
    color:white;
    clear:both;
    text-align:center;
   	padding:5px;	
}


#Header{
	background-color:#b30000;
    color:white;
    text-align:center;
    padding:2px;
    height:120px;
    width:auto;	
    border-top: dotted silver;
    border-left: dotted silver;
    border-rigt: dotted silver;
}


/**
	Ab hier: Alte Deklarationen. Kï¿½nnen ggf. gelï¿½scht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}





