

.projektmarktplatz-headline {
	font-size: 12pt;
	font-weight: bold;
	color: DF013A;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.projektmarktplatz-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.projektmarktplatz-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.projektmarktplatz-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.projektmarktplatz-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.projektmarktplatz-button {
	font-size: 100%;
	font-weight: bold;
}
	
.projektmarktplatz-logout{
	position: absolute;
	top: 10px;
	right: 10px;
	
}

.IdentityPanel {
    position: absolute;
    right: 0px;
	float: right;
	border: 1px solid black;
	background-color: #DF013A;
	border-radius: 10px;
}

div#TopLevelFrame {
	max-width: 1280px;
	min-width: 1200px;
	

 }


div#Navigator {
	max-height: 6000px;
	overflow:scroll;
	border-width: 3px;
	

}

div#Details {
	padding: 4em 1em;
	

}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin-bottom: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 100%;
	text-align: center;
	
	background: #DF013A;
}

div#Header{
	font-size: 12pt;
	font-weight: bold;
	color: DF013A;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	background: #DF013A
	
	
}

/**
	Ab hier: Alte Deklarationen. Kï¿½nnen ggf. gelï¿½scht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}





