.projektmarktplatz-headline {
	font-size: 12pt;
	font-weight: bold;
	color: DF013A;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.startseite_label {
	font-size: 12pt;
	font-weight: bold;
}

.willkommen_label {
	font-size: 18pt;
	font-stretch: extra-condensed;
	font-weight: bolder;
}

.projektmarktplatz-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.projektmarktplatz-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.projektmarktplatz-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.projektmarktplatz-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.projektmarktplatz-button {
	font-size: 100%;
	font-weight: bold;
}
	
.projektmarktplatz-logout{
	position: absolute;
	top: 25px;
	right: 25px;
	backgroundcolor: #e3e9f5;
	
}

.IdentityPanel {
	/*position: absolute; */
	/*right: 0px; */
	float: right;
	position: absolute;
	right: 20px;
	top: 80px;
}

html{
	height: 100%;
}

body{
	margin: 0px;
	height: 100%;
}

div#TopLevelFrame {
	max-width: 1280px;
	min-width: 1200px;
 }
 

#Navigator{
	
	line-height:30px;
    background-color:#eeeeee;
    height:100%;
    min-height: 600px;
    width:250px;
    float:left;
    padding:5px;
    border-left: solid silver;
    overflow: auto;
    margin: 0px auto;
}

#NavigatorReport{
	line-height:30px;
    background-color:#eeeeee;
    height: 100%;
    min-height: 600px;
    width:250px;
    float:left;
    padding:5px;
    border-left: solid silver;
    overflow: auto;
    margin: 0px auto;
   
}

#Border{
	
	line-height:30px;
    background-color:#eeeeee;
    height: 100%;
    min-height: 600px;
    width:120px;
    float:right;
    padding:5px;
    border-right: solid silver;
    overflow: auto;
    margin: 0px auto;
}


#Details{
	
	width:auto;
    height:auto;
    float:left;
    padding:10px;
    border-rigth: solid silver;
    overflow: auto;
    margin: 0px auto;
}

#DetailsReport{
	width:auto;
    height:auto;
    float:left;
    padding:10px;
    border-rigth: solid silver;
    overflow: auto;
    margin: 0px auto;
}





#Trailer {
	background-image: url("images/blue-background-9.png");
	background-size: cover;
	border-bottom: solid silver;
	border-left: solid silver;
	border-right: solid silver;
    color:white;
    clear:both;
    text-align:center;
   	padding:5px;	
}


#Header{
	
	background-image: url("images/blue-background-9.png");
	background-size: cover;
    color:white;
    text-align:center;
    padding:2px;
    height:140px;
    width:auto;	
    border-top:  solid silver;
    border-left: solid silver;
    border-right: solid silver;
}

#HeaderReport{
	background-image: url("images/blue-background-9.png");
	background-size: cover;
    color:white;
    text-align:center;
    padding:2px;
    height:140px;
    width:auto;	
    border-top:  solid silver;
    border-left: solid silver;
    border-right: solid silver;
}

#logo{
	position: absolute;
	top: 18px;
	left: 30px;
	
}



/**
	Ab hier: Alte Deklarationen. K�nnen ggf. gel�scht werden.
*/

.cell-btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -ms-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 8px 20px 8px 20px;
  border: solid #e6e6e6 2px;
  text-decoration: none;
}

.cell-btn:hover {
  background: #deebff;
  background-image: -webkit-linear-gradient(top, #deebff, #deebff);
  background-image: -moz-linear-gradient(top, #deebff, #deebff);
  background-image: -ms-linear-gradient(top, #deebff, #deebff);
  background-image: -o-linear-gradient(top, #deebff, #deebff);
  background-image: linear-gradient(to bottom, #deebff, #deebff);
  text-decoration: none;
}

.menu-btn {
 background: #ffffff;
 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
 background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
 background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
 background-image: -o-linear-gradient(top, #ffffff, #ffffff);
 background-image: linear-gradient(to bottom, #ffffff, #ffffff);
 -webkit-border-radius: 10;
 -moz-border-radius: 10;
 border-radius: 1px;
 font-family: Arial;
 color: #000000;
 font-size: 15px;
 border: solid #e3e3e3 1px;
 text-decoration: none;
 padding: 5px 15px 5px 15px;
 margin-left: 11px;
margin-right: 5px;
}

.menu-btn:hover {
 background: #f2f7ff;
 background-image: -webkit-linear-gradient(top, #f2f7ff, #deebff);
 background-image: -moz-linear-gradient(top, #f2f7ff, #deebff);
 background-image: -ms-linear-gradient(top, #f2f7ff, #deebff);
 background-image: -o-linear-gradient(top, #f2f7ff, #deebff);
 background-image: linear-gradient(to bottom, #f2f7ff, #deebff);
 text-decoration: none;
} 

.login-btn {
 background: #ffffff;
 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
 background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
 background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
 background-image: -o-linear-gradient(top, #ffffff, #ffffff);
 background-image: linear-gradient(to bottom, #ffffff, #ffffff);
 -webkit-border-radius: 10;
 -moz-border-radius: 10;
 border-radius: 1px;
 font-family: Arial;
 color: #000000;
 font-size: 15px;
 border: solid #e3e3e3 1px;
 text-decoration: none;
 padding: 5px 15px 5px 15px;
 margin-left: 11px;
 margin-right: 5px;
 position: absolute;
 top: 30px;
 right: 25px;
}

.login-btn:hover {
 background: #f2f7ff;
 background-image: -webkit-linear-gradient(top, #f2f7ff, #deebff);
 background-image: -moz-linear-gradient(top, #f2f7ff, #deebff);
 background-image: -ms-linear-gradient(top, #f2f7ff, #deebff);
 background-image: -o-linear-gradient(top, #f2f7ff, #deebff);
 background-image: linear-gradient(to bottom, #f2f7ff, #deebff);
 text-decoration: none;
} 


.Button-img-Image{
	float: left;
	margin-right: 5px;
	margin-top: 2.5px;

}

.Button-img{
	background-color: #FFF;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	color: #000000;
	font-size: small;
	padding-left: 3px;
	padding-bottom: 5px;
	vertical-align: middle;
	line-height: 29px;  
	text-decoration: none;
	text-align: rigth;
	outline-color: #000000;
	margin-right: 30px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	-moz-box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	border: 1px solid #8b8b8b;
	border-radius: 1.5px;
	-moz-border-radius: 1.5px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.navi-button {
	background-color: #FFF;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	width: auto;
	outline-color: #000000;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	border: 0px solid #c7c7c7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.navi-button:hover {
	background: #d7d7d7;
	color: #000;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(200,200,200,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(200,200,200,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(200,200,200,0.85);
	text-decoration: none;
}

.navi-button.aktiv {
	background: #d7d7d7;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


.gwt-StackPanel .gwt-StackPanelItem {
    font-weight: normal;
    font-size: 8pt;
    width: 100%;
    background: green;
}


.gwt-StackPanel .gwt-StackPanelItem-selected {
    background-color: red;
}



