<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>ProjektmarktplatzVerwaltungServlet</servlet-name>
    <servlet-class>de.hdm.itProjektSS17.server.ProjektmarktplatzVerwaltungImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProjektmarktplatzVerwaltungServlet</servlet-name>
    <url-pattern>/it_projekt_ss17/Verwaltung</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>loginService</servlet-name>
      <servlet-class>de.hdm.itProjektSS17.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>loginService</servlet-name>
      <url-pattern>/it_projekt_ss17/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
      <servlet-name>loginService</servlet-name>
      <url-pattern>/reportgenerator/login</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>IT_Projekt_SS17.html</welcome-file>
  </welcome-file-list>

  
 <!-- ReportServlet -->
 <welcome-file-list>
     <welcome-file>ProjektmarktplatzReports.html</welcome-file>
 </welcome-file-list>
 
  <servlet>
      <servlet-name>ReportGenerator</servlet-name>
      <servlet-class>de.hdm.itProjektSS17.server.report.ReportGeneratorImpl</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>ReportGenerator</servlet-name>
      <url-pattern>/reportgeneratpr/report</url-pattern>
  </servlet-mapping>
  
  
</web-app>
